<div id="feed-bg">

  <div id="feed-wrapper">

    <nav id="main-nav">
      <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
      <%= link_to "Sign Out", logout_path, class: "sign-out" %>
    </nav>

    <!-- List of Legislators -->
    <section id="legislators">
    </section>

    <!-- Twitter Feed -->
    <section id="feed">
      <h2 id="feed-title">Finding your legislators ...</h2>
    </section>

  </div>
</div>