---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 30 Sep 2015 03:34:33 GMT
      Ml:
      - S
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 10815df2acb95289fa7b9bdf9f29a38b
      X-Response-Time:
      - '8'
      X-Transaction:
      - e707adaf2169c64e
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Wed, 30 Sep 2015 03:34:33 GMT
recorded_with: VCR 2.9.3
