---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=from:SenCoryGardner%20OR%20from:RepDianaDeGette%20OR%20from:SenBennetCo&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qlqMJiVlkAAiaoie7Dy5hgpkr", oauth_nonce="77fb8bed84a396ae258ce486bbacaf76",
        oauth_signature="2bGxl1q5ZjID%2FWifHrFhXjhNpgI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1443656518", oauth_token="2975056012-JP1tm5dsc3wrsxhBFMAk8v4RmcNewtLmEEhXDuu",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 30 Sep 2015 23:41:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 96e7bf613b1fa4bb467a42f17841918f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1443656974'
      X-Response-Time:
      - '120'
      X-Transaction:
      - ae7ea79b5fd79763
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Sep 30 23:07:04 +0000 2015","id":649359836061110272,"id_str":"649359836061110272","text":"Congratulations
        Centennial Elementary on being named a National Blue Ribbon School. Read about
        their hard work here: http:\/\/t.co\/RMchQ0HZEO","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":224285242,"id_str":"224285242","name":"Michael
        F. Bennet","screen_name":"SenBennetCO","location":"Colorado","description":"U.S.
        Senator for Colorado","url":"http:\/\/t.co\/bQVU54FnhE","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/bQVU54FnhE","expanded_url":"http:\/\/bennet.senate.gov","display_url":"bennet.senate.gov","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":23454,"friends_count":87,"listed_count":1250,"created_at":"Wed
        Dec 08 16:29:29 +0000 2010","favourites_count":16,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":1104,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"48403A","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/540921619510603777\/f2uuQVwZ.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/540921619510603777\/f2uuQVwZ.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1208526740\/Bennet-110309-18474-0009-R-CFF_small_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1208526740\/Bennet-110309-18474-0009-R-CFF_small_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/224285242\/1417800828","profile_link_color":"67C2E1","profile_sidebar_border_color":"95F0EB","profile_sidebar_fill_color":"D3E7F2","profile_text_color":"242324","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/RMchQ0HZEO","expanded_url":"http:\/\/gazette.com\/colorado-springs-school-gets-prestigious-national-award\/article\/1560270","display_url":"gazette.com\/colorado-sprin\u2026","indices":[117,139]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Sep 30 22:03:13 +0000 2015","id":649343770551521281,"id_str":"649343770551521281","text":"RT
        @LungAssociation: Thank you @RepDianaDeGette for helping to keep the next
        generation off tobacco by introducing the Tobacco to 21 Act.","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":fals[...]
