<h1 id="landing-headline">WHATCHU <br>TALKIN' BOUT?</h1>

<div id="landing-c2a">
  <p>Learn what your elected officials have been discussing.</p>
  <!-- <p>Check Your Politicians' Tweets</p> -->
  <%= link_to "SIGN IN WITH TWITTER", "/auth/twitter", class: "sign-in" %>
</div>
