<% if current_user %>

  <nav id="main-nav">
    <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
    <%= link_to "SIGN OUT", logout_path, class: "sign-out" %>
  </nav>

<% else %>

  <nav id="main-nav">
    <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
    <%= link_to "SIGN IN WITH TWITTER", "/auth/twitter", class: "sign-in" %>
  </nav>

<% end %>