<nav id="main-nav">
  <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
  <%= link_to "SIGN OUT", root_path, class: "sign-out" %>
</nav>
<div class="search-results">
  <p>Tweet with semi-long text etc. et cetera.</p>
  <p>Another Tweet by someone.</p>
</div>