<div class="landing-wrapper">
  <nav id="main-nav">
    <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
  </nav>
  <div id="tagline">
    <p>
      Learn what your elected officials have been discussing.
    </p>
    <%= link_to "SIGN IN WITH TWITTER", welcome_path %>
  </div>
</div>