<nav id="main-nav">
  <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
  <%= link_to "SIGN IN WITH TWITTER", "/auth/twitter", class: "sign-in" %>
</nav>
<p id="tagline">
  Learn what your elected officials have been discussing.
</p>