<h1 id="landing-headline">WHATCHU <br>TALKIN' BOUT?</h1>

<%#= link_to "SIGN IN WITH TWITTER", "/auth/twitter", class: "sign-in" %>

<!-- <p id="landing-tagline">
  Learn what your elected officials have been discussing.
</p> -->