<%= render 'shared/nav' %>
<div class="search-results">
  <p><%= link_to "See what Congresswoman Diana DeGette's discussing ...", discussion_path %></p>
  <p><%= link_to "See what Senator Cory Gardner's discussing ...", discussion_path %></p>
</div>