<nav id="main-nav">
  <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
  <%= link_to "SIGN OUT", root_path, class: "sign-out" %>
</nav>
<div class="search">
  <form>
    <input type="text" />
    <!-- <input type="submit" value="FIND LEGISLATORS"> -->
    <%= link_to "FIND LEGISLATORS", search_results_path %>
  </form>
</div>