// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





// .search input[type="text"] {
//   height: 22px;
//   font-size: 16px;
//   padding: 12px 20px;
//   background-color: #EEEEEE;
//   border-radius: 10px;
//   -moz-border-radius: 10px;
//   color: rgb(86, 90, 92);
// }

// // .search input[type="submit"] {
// .search a {

//   text-decoration: none;

//   padding: 12px 20px;
//   font-size: 16px;
//   height: 45px;
//   border-radius: 10px;
//   -moz-border-radius: 10px;
//   color: #EEEEEE;
//   background-color: #0b5259;
//   // -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
//   // -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
// }

// .search {
//   color: #D2D7D3;
//   font-weight: 400;
//   border-radius: 10px;
//   -moz-border-radius: 10px;
//   margin: 12px 30px 0 0;
//   padding: 12px 20px;
//   // width: 170px;
//   float: right;
//   background-color: rgba(1,31,33,.75);
// }

a.sign-out, a.sign-out:visited, a.sign-out:link {
  margin: 16px 10px 0 0;
  float: right;
  color: #9B59B6;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #9B59B6;
}

a.sign-out:hover {
  color: white;
  border: 2px solid white;
}

#logo {
  color: #F4D03F;
  font-size: 2.9em;
  display: inline;
  margin: 0;
}

#main-nav {
  padding: 5px 25px 0 25px;
}

#feed-bg {
  background-color: rgba(4, 37, 39, .5);
  height: 100%;
  width: 100%;
  position: absolute;
}