// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a.sign-in, a.sign-in:visited, a.sign-in:link {
  display: inline-block;
  margin:  1em 0 0 0;
  border: 2px solid #9B59B6;
  border-radius: 10px;
  -moz-border-radius: 10px;
  font-weight: 800;
  font-size: .5em;
  text-decoration: none;
  padding: .5em 25px;
  background-color: #9B59B6;
  // background-color: transparent;
  color: #EEEEEE;
}

a.sign-in:hover {
  background-color: #7d3b99;
  border: 2px solid #7d3b99;
  // background-color: transparent;
}

a.sign-in:active {
  // margin-top: 1.1em;
}

#landing-c2a-area p {
  margin: 0
}

#landing-c2a-area {
  // text-align: center;
  font-size: 2.2em;
  color: #D2D7D3;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  margin: 12px 23% 0 23%;
  padding: 16px 20px;
  // background-color: rgba(1,31,33,.75);
}

#landing-headline {
  text-shadow: 4px 4px 4px rgba(4, 37, 39, 0.4);
  line-height: .9em;
  // margin: 155px 0 0 0;
  // text-align: center;
  // text-align: left;
  margin: 155px 0 0 23%;
  font-size: 6em;
  font-weight: 800;
  color: #F4D03F;
}