.search-results a, .search-results a:visited, .search-results a:link {
  color: #EEEEEE;
}

.search-results a:hover {
  text-decoration: none;
  color: #ff9900;
}

.search-results {
  color: #D2D7D3;
  font-weight: 400;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 12px 30px 0 0;
  padding: 12px 20px;
  // width: 170px;
  float: right;
  background-color: rgba(1,31,33,.75);
}